/* ===== الهيكل العام ===== */
.hero-news {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-list-news{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}




