/* ===== الهيكل العام ===== */
.hero-news {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.news-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.hero-list-news{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}


.hero-hero-content-news{
  float: 1;
  
}

.hero-title-news{
  font-size: 36px;
  font-weight: var(--weight-bold);
  color: var(--color-secondary);
  margin-bottom: 20px;
}

.hero-title-news span {
  color: var(--color-primary);
}

.hero-subtitle-news{
  font-size: 24px;
  font-weight: var(--weight-regular);
  color: var(--color-gray-secondary);
  margin-bottom: 20px;
}

.hero-card{
  max-width: 500px;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: var(--shadow);
}

.hero-card img {
  width: 100%;
  height: auto;
  display: block;
}


