/* تنسيقات الجوال - للشاشات الأصغر من 768px */
@media screen and (max-width: 768px){
    .top-bar{
      height: auto;
      padding: 8px 0;
      background-color: var(--color-secondary);
    }

    .top-bar .container {
      flex-direction: column;
      gap: 8px;
    }

    .top-bar .flex-group:first-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        padding-bottom: 6px;
        width: 100%;
        justify-content: center;

    }

    .top-bar .flex-group:last-child {
      width: 100%;
      justify-content: space-evenly;
      padding-top: 2px;
    }

    .top-bar i {
      font-size: 14px;
      color: var( --color-bg-light);
    }

    .top-bar span ,
    .top-bar a {
      font-size: 11px;
      letter-spacing: 0.5px;
    }

    .cart-badge {
      width:14px ;
      height: 14px;
      font-size: 9px;
      top: -8px;
      right: -10px;
      border: 1px solid var(--color-secondary);
    }

    












}