.project-hero-layout {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
    flex-direction: row-reverse;
    /* النص يسار، الصور يمين */
}

.project-info {
    flex: 1;
    text-align: right;
}

.project-mockups {
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.project-mockups img {
    width: 30%;
    border-radius: 16px;
}